# redirect example.com to www.example.com

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name example.com;

	ssl_certificate     /etc/letsencrypt/live/example.com/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;

	return 301 $scheme://www.example.com$request_uri;

	include conf.d/templates/ssl.conf;
	include conf.d/templates/performance.conf;
	include conf.d/templates/security.conf;
}
